# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${HOST}:${PORT_DB}/${POSTGRES_DB}?schema=public"

POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=bookshop

HOST=localhost

PORT=3000
PORT_DB=5432

SALT_ROUNDS=5

JWT_ACCESS_TOKEN_EXPIRESIN=1h
JWT_ACCESS_TOKEN_SECRET=FASDASDASDASDA

USER_ROLE=1
ADMIN_ROLE=2